<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Book Flight Module" verbose="1">
    <test name="Book flight-2">
    <parameter name="numOfPassengers" value="2"/>
    <parameter name="expectedPrice" value="$1169 USD"/>
    <classes>
        <class name="com.newtours.tests.BookFlightTest" />
    </classes>
</test>
    <test name="Book flight-3">
        <parameter name="numOfPassengers" value="3"/>
        <parameter name="expectedPrice" value="$1753 USD"/>
        <classes>
            <class name="com.newtours.tests.BookFlightTest" />
        </classes>
    </test>
</suite>